
#wb_header { background: transparent none repeat scroll left top; }
#wb_main { background: transparent none repeat scroll left top; padding-bottom: 70px; }
#wb_footer { background: transparent none repeat-x scroll center top; }
body { background: #e6d5cd url("../gallery_gen/18c61cb6aaad1ce380f51ec049a0300a.jpg") repeat-x fixed center top; }
.wb_sbg { background: transparent url("../gallery_gen/a976129097d9fb28f405785306ca9285.jpg") repeat-x scroll center bottom; }
body, .wb_sbg { min-width: 100%; min-height: 100%; }
.root { box-sizing: border-box; width: 100%; }
.root > div > .wb_cont_inner_rel { padding-left: 15px; padding-right: 15px; }
#wb_cs_row_1 { padding-left: 0; padding-right: 0; padding-top: 0px; margin-top: 0px; float: left; padding-bottom: 0px; }
#wb_cs_col_2 { width: 84.290598290598%; margin-left: auto; margin-right: auto; margin-top: 10px; }
#wb_cs_col_2:first-child { margin-top: 10px; }
#wb_cs_row_3 { padding-left: 0; padding-right: 0; padding-top: 0px; margin-top: 0px; float: left; padding-bottom: 0px; width: 93.794362198337%; }
#wb_cs_col_4 { max-width: 67px; margin-top: 0px; min-width: 30px; width: 6.4864864864865%; margin-left: 0.0%; }
#wb_cs_col_4:first-child { margin-top: 0px; }
#wb_element_instance3 { z-index: 376; height: auto; min-height: 1px; min-width: 30px; max-width: 67px; width: auto; margin-left: auto; margin-right: auto; margin-top: 0px; float: none; }
#wb_element_instance3 img { width: 100%; height: auto; position: static; left: 0px; top: 0px; display: block; }
#wb_cs_col_5 { max-width: 580px; margin-top: 10px; min-width: 58px; width: 61.891891891892%; margin-left: 2.777777%; }
#wb_cs_col_5:first-child { margin-top: 10px; }
#wb_element_instance2 { z-index: 373; min-height: 24px; width: auto; margin-left: auto; margin-right: auto; margin-top: 0px; float: none; }
#wb_element_instance2 p:last-child { margin-bottom: 0; }
#wb_cs_col_6 { width: 100%; margin-left: auto; margin-right: auto; margin-top: 15px; max-width: 40px; min-width: 40px; }
#wb_cs_col_6:first-child { margin-top: 0; }
#wb_element_instance0 { z-index: 779; min-height: 70px; width: 100%; margin-left: auto; margin-right: auto; margin-top: 0px; }
#wb_element_instance0 .btn-collapser { display: inline-block; margin-top: 20.5px; background-color: #ed8d72; border-color: #ffffff; }
#wb_element_instance0.collapse-expanded > ul { position: fixed; left: 0px; width: 100%; display: block; float: none; height: auto; overflow: hidden; overflow-y: auto; }
#wb_element_instance0 .btn-collapser > .icon-bar { background-color: #ffffff; }
#wb_element_instance0 .btn-collapser:hover { background-color: #ed8d72; border-color: #ff2b47; }
#wb_element_instance0 .btn-collapser:hover > .icon-bar { background-color: #ff2b47; }
#wb_element_instance0 ul { background: #ed8d72 none repeat scroll left top; border: 1px none #000000; }
#wb_element_instance0 > ul { display: none; }
#wb_element_instance0.collapse-expanded > ul > li { display: block; }
#wb_element_instance0.collapse-expanded li > ul { position: static; }
#wb_element_instance0.collapse-expanded li.active > ul { display: block!important; }
#wb_element_instance0.collapse-expanded li.over > ul { display: block!important; }
#wb_element_instance0, #wb_element_instance0 ul { text-align: right; }
#wb_element_instance0 ul ul { background: transparent none repeat scroll right top; }
#wb_element_instance0 li { margin: 0px 0px 0px 0px; }
#wb_element_instance0 li a { text-transform: uppercase; border: 0px none #000000; padding: 27px 10px 27px 10px; font: normal bold 14px 'Open Sans',sans-serif; text-decoration: none; color: #ffffff; line-height: 16px; background: transparent none no-repeat scroll center top; }
#wb_element_instance0 li.over > a, #wb_element_instance0 li:focus > a { border: 0px none #000000; font: normal bold 14px 'Open Sans',sans-serif; text-decoration: none; color: #ff2b47; line-height: 16px; background: transparent none repeat-x scroll center center; }
#wb_element_instance0 li.active > a { border: 0px none #000000; font: normal bold 14px 'Open Sans',sans-serif; text-decoration: none; color: #ffffff; line-height: 16px; background: transparent url('../gallery/light_red-ts1458119394.jpg') repeat-x scroll center bottom; }
#wb_element_instance0:not(.collapse-expanded) .vmenu ul.open-left,#wb_element_instance0:not(.collapse-expanded) .hmenu ul.open-left { left: auto; right: 100%; }
#wb_element_instance0:not(.collapse-expanded) .hmenu > li > ul.open-left { left: auto; right: 0; }
#wb_cs_row_7 { padding-left: 0; padding-right: 0; padding-top: 15px; margin-top: 0px; float: left; padding-bottom: 11px; }
#wb_cs_col_8 { width: 100%; margin-left: auto; margin-right: auto; margin-top: 0px; padding-left: 0px; padding-right: 0px; }
#wb_cs_col_8:first-child { margin-top: 0px; }
#wb_element_instance1 { z-index: 561; min-height: 24px; width: 100%; margin-left: auto; margin-right: auto; margin-top: 0px; }
#wb_element_instance1 p:last-child { margin-bottom: 0; }
#wb_cs_row_9 { padding-left: 0; padding-right: 0; padding-top: 15px; padding-bottom: 0px; }
#wb_cs_col_10 { width: 100%; margin-left: auto; margin-right: auto; margin-top: 15px; padding-left: 0px; padding-right: 0px; }
#wb_cs_col_10:first-child { margin-top: 0; }
#wb_element_instance4 { z-index: 346; min-height: 24px; width: 100%; margin-left: auto; margin-right: auto; margin-top: 0px; }
#wb_element_instance4 p:last-child { margin-bottom: 0; }
#wb_cs_row_11 { padding-left: 0; padding-right: 0; padding-top: 8px; padding-bottom: 0px; }
#wb_cs_col_12 { width: 100%; margin-left: auto; margin-right: auto; margin-top: 15px; padding-left: 0px; padding-right: 0px; }
#wb_cs_col_12:first-child { margin-top: 0; }
#wb_element_instance5 { z-index: 347; height: 10px; min-height: 1px; width: 100%; margin-left: auto; margin-right: auto; margin-top: 0px; }
#wb_element_instance5 > .wb-elm-line { margin: 1px 0 0 0; width: 100%; height: 1px; left: 0; top: 50%; border-top: 3px solid #ff2b47;; }
#wb_cs_row_13 { padding-left: 0; padding-right: 0; padding-top: 15px; padding-bottom: 0px; }
#wb_cs_col_14 { width: 100%; margin-left: auto; margin-right: auto; margin-top: 15px; padding-left: 0px; padding-right: 0px; }
#wb_cs_col_14:first-child { margin-top: 0; }
#wb_element_instance15 { z-index: 351; height: auto; min-height: 1px; min-width: 82px; max-width: 820px; width: 100%; margin-left: auto; margin-right: auto; margin-top: 0px; }
#wb_element_instance15 img { width: 100%; height: auto; position: static; left: 0px; top: 0px; display: block; }
#wb_cs_row_15 { padding-left: 0; padding-right: 0; padding-top: 15px; padding-bottom: 0px; }
#wb_element_instance15 > .wb-elm-ch-wrp { float: left; width: 100%; margin-top: -31.219512195122%; }
#wb_cs_col_16 { width: 100%; margin-left: auto; margin-right: auto; margin-top: 15px; padding-left: 0px; padding-right: 0px; }
#wb_cs_col_16:first-child { margin-top: 0; }
#wb_element_instance9 { z-index: 360; min-height: 24px; width: 100%; margin-left: auto; margin-right: auto; margin-top: 0px; }
#wb_element_instance9 p:last-child { margin-bottom: 0; }
#wb_cs_row_17 { padding-left: 0; padding-right: 0; padding-top: 15px; padding-bottom: 0px; }
#wb_cs_col_18 { width: 100%; margin-left: auto; margin-right: auto; margin-top: 15px; padding-left: 0px; padding-right: 0px; }
#wb_cs_col_18:first-child { margin-top: 0; }
#wb_element_instance7 { z-index: 345; height: 10px; min-height: 1px; width: 100%; margin-left: auto; margin-right: auto; margin-top: 0px; }
#wb_element_instance7 > .wb-elm-line { margin: 1px 0 0 0; width: 100%; height: 1px; left: 0; top: 50%; border-top: 1px solid #ff2b47;; }
#wb_cs_row_19 { padding-left: 0; padding-right: 0; padding-top: 15px; padding-bottom: 0px; }
#wb_cs_col_20 { width: 100%; margin-left: auto; margin-right: auto; margin-top: 15px; padding-left: 0px; padding-right: 0px; }
#wb_cs_col_20:first-child { margin-top: 0; }
#wb_element_instance8 { z-index: 357; min-height: 24px; width: 100%; margin-left: auto; margin-right: auto; margin-top: 0px; }
#wb_element_instance8 p:last-child { margin-bottom: 0; }
#wb_cs_row_21 { padding-left: 0; padding-right: 0; padding-top: 15px; padding-bottom: 0px; }
#wb_cs_col_22 { width: 100%; margin-left: auto; margin-right: auto; margin-top: 15px; padding-left: 0px; padding-right: 0px; }
#wb_cs_col_22:first-child { margin-top: 0; }
#wb_element_instance6 { z-index: 354; min-height: 1px; width: 100%; margin-left: auto; margin-right: auto; margin-top: 0px; padding: 15px; }
#wb_element_instance6 > .wb-elm-ch-wrp { position: relative; z-index: 3; }
#wb_element_instance6 > .wb_shp { background: #31b4ab none repeat scroll left top; background-size: auto auto; border: 0px solid #C0C0C0; opacity: 0.95; border-radius: 0px 0px 0px 0px; -moz-border-radius: 0px 0px 0px 0px; -webkit-border-radius: 0px 0px 0px 0px; }
#wb_cs_row_23 { padding-left: 0; padding-right: 0; padding-bottom: 0px; }
#wb_cs_col_24 { width: 100%; margin-left: auto; margin-right: auto; margin-top: 15px; }
#wb_cs_col_24:first-child { margin-top: 0; }
#wb_element_instance10 { z-index: 361; height: auto; min-height: 1px; min-width: 16px; max-width: 64px; width: 100%; margin-left: auto; margin-right: auto; margin-top: 0px; }
#wb_element_instance10 img { width: 100%; height: auto; position: static; left: 0px; top: 0px; display: block; }
#wb_cs_col_25 { width: 100%; margin-left: auto; margin-right: auto; margin-top: 15px; }
#wb_cs_col_25:first-child { margin-top: 0; }
#wb_element_instance11 { z-index: 362; height: auto; min-height: 1px; min-width: 16px; max-width: 64px; width: 100%; margin-left: auto; margin-right: auto; margin-top: 0px; }
#wb_element_instance11 img { width: 100%; height: auto; position: static; left: 0px; top: 0px; display: block; }
#wb_cs_col_26 { width: 100%; margin-left: auto; margin-right: auto; margin-top: 15px; }
#wb_cs_col_26:first-child { margin-top: 0; }
#wb_element_instance12 { z-index: 363; height: auto; min-height: 1px; min-width: 16px; max-width: 64px; width: 100%; margin-left: auto; margin-right: auto; margin-top: 0px; }
#wb_element_instance12 img { width: 100%; height: auto; position: static; left: 0px; top: 0px; display: block; }
#wb_cs_col_27 { width: 100%; margin-left: auto; margin-right: auto; margin-top: 15px; }
#wb_cs_col_27:first-child { margin-top: 0; }
#wb_element_instance13 { z-index: 364; height: auto; min-height: 1px; min-width: 16px; max-width: 64px; width: 100%; margin-left: auto; margin-right: auto; margin-top: 0px; }
#wb_element_instance13 img { width: 100%; height: auto; position: static; left: 0px; top: 0px; display: block; }
#wb_cs_col_28 { width: 100%; margin-left: auto; margin-right: auto; margin-top: 15px; }
#wb_cs_col_28:first-child { margin-top: 0; }
#wb_element_instance14 { z-index: 365; height: auto; min-height: 1px; min-width: 16px; max-width: 64px; width: 100%; margin-left: auto; margin-right: auto; margin-top: 0px; }
#wb_element_instance14 img { width: 100%; height: auto; position: static; left: 0px; top: 0px; display: block; }
#wb_element_instance16 { z-index: 9000; }
#wb_element_instance17 { z-index: 9999; }


@media (min-width: 768px) {
	.root > div > .wb_cont_inner_rel { padding-left: 20px; padding-right: 20px; }
	#wb_cs_row_1 { padding-left: 2.5%; padding-right: 0%; }
	#wb_cs_col_2 { max-width: 842.4px; min-width: 84.24px; width: 36%; margin-left: 0.0%; }
	#wb_cs_row_3 { padding-left: 0%; padding-right: 14.529914529915%; }
	#wb_element_instance3 { margin-top: 0px; }
	#wb_element_instance2 { margin-top: 0px; }
	#wb_cs_col_6 { max-width: 1450px; margin-top: 0px; min-width: 145px; width: 61.965811965812%; margin-right: 0.0%; }
	#wb_cs_col_6:first-child { margin-top: 0px; }
	#wb_cs_col_4 { width: 16.666666666667%; }
	#wb_cs_col_5 { width: 80.555555555556%; }
	#wb_element_instance0 { margin-top: 0px; }
	#wb_element_instance0 ul { background: transparent none repeat scroll right top; }
	#wb_element_instance0 .btn-collapser { display: none; }
	#wb_element_instance0 > ul { display: block; }
	#wb_cs_row_7 { padding-left: 0%; padding-right: 69.166666666667%; }
	#wb_cs_col_8 { max-width: 740px; }
	#wb_element_instance1 { margin-top: 0px; }
	#wb_cs_row_9 { padding-top: 50px; padding-left: 0%; padding-right: 0%; }
	#wb_cs_col_10 { max-width: 2400px; margin-top: 0px; }
	#wb_cs_col_10:first-child { margin-top: 0px; }
	#wb_element_instance4 { margin-top: 0px; }
	#wb_cs_row_11 { padding-top: 8px; padding-left: 27.5%; padding-right: 28.333333333333%; }
	#wb_cs_col_12 { max-width: 1060px; margin-top: 0px; }
	#wb_cs_col_12:first-child { margin-top: 0px; }
	#wb_element_instance5 { margin-top: 0px; }
	#wb_cs_row_13 { padding-top: 70px; padding-left: 50.833333333333%; padding-right: 15%; }
	#wb_cs_col_14 { max-width: 820px; margin-top: 0px; }
	#wb_cs_col_14:first-child { margin-top: 0px; }
	#wb_element_instance15 { max-width: 100%; margin-top: 0px; }
	#wb_cs_row_15 { padding-top: 20px; padding-left: 4.8780487804878%; padding-right: 2.4390243902439%; float: left; }
	#wb_cs_col_16 { max-width: 760px; margin-top: 0px; }
	#wb_cs_col_16:first-child { margin-top: 0px; }
	#wb_element_instance9 { margin-top: 0px; }
	#wb_cs_row_17 { padding-top: 162px; padding-left: 45%; padding-right: 23.333333333333%; }
	#wb_cs_col_18 { max-width: 760px; margin-top: 0px; }
	#wb_cs_col_18:first-child { margin-top: 0px; }
	#wb_element_instance7 { margin-top: 0px; }
	#wb_cs_row_19 { padding-top: 40px; padding-left: 45%; padding-right: 23.333333333333%; }
	#wb_cs_col_20 { max-width: 760px; margin-top: 0px; }
	#wb_cs_col_20:first-child { margin-top: 0px; }
	#wb_element_instance8 { margin-top: 0px; }
	#wb_cs_row_21 { padding-top: 47px; padding-left: 19.166666666667%; padding-right: 19.166666666667%; }
	#wb_cs_col_22 { max-width: 1480px; margin-top: 0px; }
	#wb_cs_col_22:first-child { margin-top: 0px; }
	#wb_element_instance6 { margin-top: 0px; padding: 0.01px; padding-bottom: 9px; }
	#wb_cs_row_23 { padding-top: 9px; padding-left: 27.027027027027%; padding-right: 30.810810810811%; }
	#wb_cs_col_24 { max-width: 64px; margin-top: 0px; min-width: 6.4px; width: 10.25641025641%; margin-left: 0.0%; }
	#wb_cs_col_24:first-child { margin-top: 0px; }
	#wb_element_instance10 { margin-top: 0px; }
	#wb_cs_col_25 { max-width: 64px; margin-top: 0px; min-width: 6.4px; width: 10.25641025641%; margin-left: 12.179486%; }
	#wb_cs_col_25:first-child { margin-top: 0px; }
	#wb_element_instance11 { margin-top: 0px; }
	#wb_cs_col_26 { max-width: 64px; margin-top: 0px; min-width: 6.4px; width: 10.25641025641%; margin-left: 12.179486%; }
	#wb_cs_col_26:first-child { margin-top: 0px; }
	#wb_element_instance12 { margin-top: 0px; }
	#wb_cs_col_27 { max-width: 64px; margin-top: 0px; min-width: 6.4px; width: 10.25641025641%; margin-left: 12.179486%; }
	#wb_cs_col_27:first-child { margin-top: 0px; }
	#wb_element_instance13 { margin-top: 0px; }
	#wb_cs_col_28 { max-width: 64px; margin-top: 0px; min-width: 6.4px; width: 10.25641025641%; margin-left: 12.179486%; }
	#wb_cs_col_28:first-child { margin-top: 0px; }
	#wb_element_instance14 { margin-top: 0px; }
}

@media (min-width: 992px) {
	.root > div > .wb_cont_inner_rel { padding-left: 30px; padding-right: 30px; }
	#wb_element_instance0 ul { background: transparent none repeat scroll right top; }
	#wb_element_instance0 .btn-collapser { display: none; }
	#wb_element_instance0 > ul { display: block; }
}

@media (min-width: 1200px) {
	.root > div > .wb_cont_inner_rel { max-width: 1860px; padding-left: 40px; padding-right: 40px; }
	#wb_element_instance0 ul { background: transparent none repeat scroll right top; }
	#wb_element_instance0 .btn-collapser { display: none; }
	#wb_element_instance0 > ul { display: block; }
	#wb_element_instance16 { top: 696px; left: 0px; display: block; }
	#wb_element_instance17 { top: 59px; left: 0px; display: block; }
}

@media (max-width: 767px) {
	#wb_element_instance2 { width: auto; margin-left: 10px; margin-right: 10px; }
	#wb_element_instance1 { width: auto; margin-left: 10px; margin-right: 10px; }
	#wb_element_instance4 { width: auto; margin-left: 10px; margin-right: 10px; }
	#wb_element_instance9 { width: auto; margin-left: 10px; margin-right: 10px; }
	#wb_element_instance8 { width: auto; margin-left: 10px; margin-right: 10px; }
}
